
<ng-container *ngIf="formsService.showAddTaskForm">
  <app-add-task-form></app-add-task-form>
</ng-container>
<app-content-header [title]="boardName"></app-content-header>
<div class="board__block">
  <div class="board__column">
    <h3 class="board__subtitle">ToDo</h3>
    <div class="board__card">
      <button type="button" class="board__add" (click)="onOpenAddTaskForm()">+</button>
      <div class="tasks__container">
        <app-task *ngFor="let task of todoTasks" [task]="task"></app-task>
      </div>
    </div>
  </div>
  <div class="board__column">
    <h3 class="board__subtitle">In Progress</h3>
    <div class="board__card">
      <button type="button" class="board__add" (click)="onOpenAddTaskForm()">+</button>
      <div class="tasks__container">
        <app-task *ngFor="let task of progressTasks" [task]="task"></app-task>
      </div>
    </div>
  </div>
  <div class="board__column">
    <h3 class="board__subtitle">Done</h3>
    <div class="board__card">
      <button type="button" class="board__add" (click)="onOpenAddTaskForm()">+</button>
      <div class="tasks__container">
        <app-task *ngFor="let task of doneTasks" [task]="task"></app-task>
      </div>
    </div>
  </div>
</div>
