<app-content-header title="Board Name"></app-content-header>
<div class="board__block">
  <div class="board__column">
    <h3 class="board__subtitle">ToDo</h3>
    <div class="board__card">
      <button type="button" class="board__add">+</button>
      <div class="board__task">
        <p class="task__text">Learn NgRx library</p>
        <div class="task__controls">
          <img src="../../../../assets/images/edit.svg" alt="Edit" />
          <img src="../../../../assets/images/delete.svg" alt="Delete" />
        </div>
      </div>
      <div class="board__task">
        <p class="task__text">Learn NgRx library</p>
        <div class="task__controls">
          <img src="../../../../assets/images/edit.svg" alt="Edit" />
          <img src="../../../../assets/images/delete.svg" alt="Delete" />
        </div>
      </div>
      <div class="board__task">
        <p class="task__text">Learn NgRx library</p>
        <div class="task__controls">
          <img src="../../../../assets/images/edit.svg" alt="Edit" />
          <img src="../../../../assets/images/delete.svg" alt="Delete" />
        </div>
      </div>
    </div>
  </div>
  <div class="board__column">
    <h3 class="board__subtitle">In Progress</h3>
    <div class="board__card">
      <button type="button" class="board__add">+</button>
      <div class="board__task">
        <p class="task__text">Learn NgRx library</p>
        <div class="task__controls">
          <img src="../../../../assets/images/edit.svg" alt="Edit" />
          <img src="../../../../assets/images/delete.svg" alt="Delete" />
        </div>
      </div>
      <div class="board__task">
        <p class="task__text">Learn NgRx library</p>
        <div class="task__controls">
          <img src="../../../../assets/images/edit.svg" alt="Edit" />
          <img src="../../../../assets/images/delete.svg" alt="Delete" />
        </div>
      </div>
      <div class="board__task">
        <p class="task__text">Learn NgRx library</p>
        <div class="task__controls">
          <img src="../../../../assets/images/edit.svg" alt="Edit" />
          <img src="../../../../assets/images/delete.svg" alt="Delete" />
        </div>
      </div>
    </div>
  </div>
  <div class="board__column">
    <h3 class="board__subtitle">Done</h3>
    <div class="board__card">
      <button type="button" class="board__add">+</button>
      <div class="board__task">
        <p class="task__text">Learn NgRx library</p>
        <div class="task__controls">
          <img src="../../../../assets/images/edit.svg" alt="Edit" />
          <img src="../../../../assets/images/delete.svg" alt="Delete" />
          <img src="../../../../assets/images/archive.svg" alt="Archive" />
        </div>
      </div>
      <div class="board__task">
        <p class="task__text">Learn NgRx library</p>
        <div class="task__controls">
          <img src="../../../../assets/images/edit.svg" alt="Edit" />
          <img src="../../../../assets/images/delete.svg" alt="Delete" />
          <img src="../../../../assets/images/archive.svg" alt="Archive" />
        </div>
      </div>
      <div class="board__task">
        <p class="task__text">Learn NgRx library</p>
        <div class="task__controls">
          <img src="../../../../assets/images/edit.svg" alt="Edit" />
          <img src="../../../../assets/images/delete.svg" alt="Delete" />
          <img src="../../../../assets/images/archive.svg" alt="Archive" />
        </div>
      </div>
      <div class="board__task">
        <p class="task__text">Learn NgRx library</p>
        <div class="task__controls">
          <img src="../../../../assets/images/edit.svg" alt="Edit" />
          <img src="../../../../assets/images/delete.svg" alt="Delete" />
          <img src="../../../../assets/images/archive.svg" alt="Archive" />
        </div>
      </div>
    </div>
  </div>
</div>
