.content {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    padding-top: 20px;
    margin-bottom: 20px;
  }
}

.controls {
  &__form {
    display: flex;
    gap: 10px;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;

    label {
      margin-bottom: 2px;
      font-size: 0.9rem;
      line-height: 1;
      font-weight: 700;
    }

    input, select {
      width: 150px;
      padding: 5px;
      font-family: "Open Sans";
      font-size: 1rem;
      font-weight: 600;
      line-height: 1;
      color: #000;
      border: 2px solid #AAABA8;
      border-radius: 5px;
      outline: none;

    }    
  }
}

.board {
  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__column {
    width: 25%;
  }

  &__subtitle {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.3rem;
  }

  &__card {
    padding: 10px 10px 0.1px; // fix somehow
    background-color: #E7EAEF;
  }

  &__add {
    margin-bottom: 10px;
    width: 100%;
    font-size: 2rem;
    line-height: 1;
    background-color: #D2D2D4;
    border: none;
    cursor: pointer;
    transition: all 0.1s linear;
    &:hover {
      background-color: #AEC09A;
    }
  }
}

.tasks__container {
  min-height: 168px;
}

@media(max-width: 1199.98px) {
  .board {
    &__block {
      justify-content: space-between;
    }
  
    &__column {
      width: 30%;
    }
  }
}

@media(max-width: 767.98px) {
  .board {
    &__block {
      justify-content: center;
    }
  
    &__column {
      width: 75%;
      margin-bottom: 25px;
    }
  }
}

@media(max-width: 575.98px) {
  .board {  
    &__column {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}