.board {
  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__column {
    width: 25%;
  }

  &__subtitle {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.3rem;
  }

  &__card {
    // height: calc(100% - 38px); 
    padding: 10px;
    background-color: #E7EAEF;
  }

  &__add {
    width: 100%;
    font-size: 2rem;
    line-height: 1;
    background-color: #D2D2D4;
    border: none;
    cursor: pointer;
    transition: all 0.1s linear;
    &:hover {
      background-color: #AEC09A;
    }
  }

  &__task {
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #D2D2D4;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
      background-color: #AEC09A;

      .task__controls {
        opacity: 1;
      }
    }

    &:first-of-type {
      margin-top: 10px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .task__text {
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

.task__controls {
  opacity: 0;
  display: flex;
  gap: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1;
  img {
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
      transform: translate(2px, -2px);
    }
  }
}

@media(max-width: 1199.98px) {
  .board {
    &__block {
      justify-content: space-between;
    }
  
    &__column {
      width: 30%;
    }
  }
}

@media(max-width: 767.98px) {
  .board {
    &__block {
      justify-content: center;
    }
  
    &__column {
      width: 75%;
      margin-bottom: 25px;
    }
  }
}

@media(max-width: 575.98px) {
  .board {  
    &__column {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}