<div class="header">
  <h2 class="header__title">Archive</h2>
  <a class="header__btn" *ngIf="showDelBtn" (click)="onClearArchive()">
    Clear archive
    <img src="../../../../assets/images/delete.svg" alt="Delete">
  </a>
</div>
<p class="message" *ngIf="!showDelBtn">No archived tasks found!</p>
<article class="archive" *ngFor="let board of boards">
  <div class="archive__block" *ngIf="board.archive.length">
    <h2 class="archive__title">{{ board.name }}</h2>
    <ul class="archive__list">
      <li class="archive__task" *ngFor="let task of board.archive">{{ task.name }}</li>
    </ul>
  </div>
</article>
