.auth {
  height: calc(100vh - 125px);
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__form {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  &__image {
    width: 60%;

    img {
      width: 100%;
    }
  }
}

@media (max-width: 991.98px) {
  .auth {
    &__image {
      width: 50%;
    }
  }
}

@media (max-width: 767.98px) {
  .auth {
    height: calc(100vh - 105px);

    &__image {
      display: none;
    }
  }
}

@media (max-width: 429.98px) {
  .auth {
    height: calc(100vh - 124px);
  }
}
