.auth {
  height: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__form {
    width: 300px;
    text-align: center;
  }

  &__image {
    width: 50%;

    img {
      width: 100%;
    }
  }
}

@keyframes showForm {
  0% {
    top: -15px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}