.form {
  width: 100%;
  padding: 15px;
  border: 2px solid #217074;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 8px 2px #aaaba8;
  position: relative;
  animation: showForm 0.5s linear;

  &__title {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
  }

  &__input {
    margin-bottom: 10px;
    padding: 5px;    
    font-family: "Open Sans";
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #aaaba8;
    outline: none;

    &:last-of-type {
      margin-bottom: 2px;
    }
  }

  &__message {
    font-size: 0.8rem;
    line-height: 1;
    text-align: left;
    color: #ED413E;
  }

  &__input.ng-invalid.ng-touched {
    border-color:#ED413E;
  }

  &__btn {
    margin: 18px 0 10px;
    padding: 10px;
    font-family: "Open Sans";
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 10px;
    background-color: #217074;
    border: 2px solid #217074;
    color: #E7EAEF;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background-color: #E7EAEF;
      color: #217074;
    }  
    
    &:disabled {
      background-color: #D2D2D4;
      border-color: #D2D2D4;
      color: #fff;
      cursor: auto;
    }
  }

  &__footer {
    font-size: 0.9rem;
    text-align: center;    

    a {
      font-size: 1rem;
      font-weight: 700;
      text-decoration: none;
      color: #217074;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@keyframes showForm {
  0% {
    top: -15px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}