.header {
  background-color: #217074;
  color: #fff;

  &__inner {
    padding: 17px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    padding: 10px 15px;
    font-size: 1.2rem;
    background-color: #E7EAEF;
    color: #217074;
    border: 2px solid #217074;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background-color: #217074;
      color: #E7EAEF;
      border: 2px solid #E7EAEF;
    }
  }
}

@media (max-width: 575.98px) {
  .header {
    &__inner {
      padding: 10px 0;
    }

    &__logo {
      font-size: 1.5rem;
    }

    &__btn {
      padding: 5px 10px;
      font-size: 1rem;
    }
  }
}

@media (max-width: 429.98px) {
  .header__logo {
      font-size: 1rem;
    }
}