.header {
  background-color: #217074;
  color: #fff;  

  &__inner {
    height: 80px;
    padding: 17px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    line-height: 1.2;
  }

  &__buttons {
    margin-left: 50px;
    margin-right: auto;
    display: flex;
    gap: 25px;
  }

  &__link {
    padding: 5px 10px;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__username {
    font-size: 1.5rem;
    margin-right: 20px;

  }

  &__btn {
    padding: 10px 15px;
    height: 46px;
    font-family: "Open Sans";
    font-size: 1.2rem;
    line-height: 1;
    background-color: #e7eaef;
    color: #217074;
    border: 2px solid #217074;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background-color: #217074;
      color: #e7eaef;
      border: 2px solid #e7eaef;
    }
  }
}

.active {
  background-color: rgba(231, 234, 239, 0.2);
}

@media (max-width: 575.98px) {
  .header {
    &__inner {
      height: 66px;
      padding: 10px 0;
      align-items: center;
    }

    &__logo {
      font-size: 1.5rem;
    }

    &__btn {
      padding: 5px 10px;
      font-size: 1rem;
    }
  }
}

@media (max-width: 429.98px) {
  .header__link {
    margin-left: 15px;
    font-size: 1rem;
  }
  .header__logo {
    font-size: 1rem;
  }
}
