.main {
  width: 100%;
  min-height: calc(100vh - 125px);
}

@media (max-width: 575.98px) {
  .main {
    min-height: calc(100vh - 98px);
  }
}

@media (max-width: 429.98px) {
  .main {
    min-height: calc(100vh - 116px);
  }
}