.task {
  position: relative;
  padding: 15px 25px 5px 15px;
  margin-bottom: 10px;
  background-color: #D2D2D4;
  text-align: left;
  transition: all 0.1s linear;
  
  .task__text {
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
  }

  &__date {
    margin-right: auto;
    font-size: 0.8rem;
    color: #217074;
  }
}

.task__controls {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-right: 5px;
  height: 100%;
  gap: 10px;
  text-align: right;
  img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
      opacity: 0.7;
    }
  }
}

.task__controls.show {
  display: flex;
}

.task__btn {
  width: 20px;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;
  cursor: pointer;

  &:hover {
    .task__dot,
    .task__dot::after,
    .task__dot::before  {
      background-color: #217074;
    }
  }
}

.task__dot {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 19px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);

  &::before, &::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
  }
  
  &::before {
    top: -11px;    
  }

  &::after {
    top: 11px;    
  }
}

.task__comments {
  margin-top: 10px;
  width: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    width: 18px;
    height: 18px;
  }

  span {
    width: 30px;
    font-size: 1rem;
    text-align: center;
    color: #217074;
  }

  &:hover {
    span, img {
      opacity: 0.7;;
    }
  }
}

.comments {
  display: none;
  margin: 10px 0;
  &__list {
    list-style: none;
  }

  &__item {
    width: 98%;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #E7EAEF;
    position: relative;
  }

  &__text {
    font-size: 1rem;
    line-height: 1;
  }

  &__delete {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: -25px;
    z-index: 1;
    transform: translateY(-50%);
    transition: all 0.1s linear;    
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &__form {
    margin-top: 10px;
    width: 98%;
    display: grid;
    grid-template-columns: 1fr 50px;

    textarea {
      padding: 10px;
      font-size: 1rem;
      line-height: 1;
      border: 2px solid #217074;
      border-right: none;
      border-radius: 10px 0 0 10px;
      outline: none;
      resize: none;
    }

    button {
      font-family: "Open Sans";
      font-size: 1rem;
      line-height: 1;
      font-weight: 600;
      color: #217074;
      border: 2px solid #217074;
      border-radius: 0 10px 10px 0;
      cursor: pointer;
      transition: all 0.1s linear;

      &:hover {
        color: #E7EAEF;
        background-color: #217074;
      }
    }    
  }
}

.comments.show {
  display: block;
}