.content {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  &__burger {
    display: none;
    padding: 7px 10px;
    font-size: 1.2rem;
    background-color: #217074;
    color: #E7EAEF;
    border: 2px solid #E7EAEF;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
      background-color: #E7EAEF;
      color: #217074;
      border-color: #217074;
    }
  }
}

.controls {
  &__form {
    display: flex;
    gap: 10px;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;

    label {
      margin-bottom: 2px;
      font-size: 0.9rem;
      line-height: 1;
      font-weight: 700;
    }

    input, select {
      width: 150px;
      padding: 5px;
      font-family: "Open Sans";
      font-size: 1rem;
      font-weight: 600;
      line-height: 1;
      color: #000;
      border: 2px solid #AAABA8;
      border-radius: 5px;
      outline: none;

    }    
  }
}

.dashboard {
  &__block {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }

  &__item {
    padding: 20px 20px 40px 20px;
    height: 250px;
    background-color: #E7EAEF;
    box-shadow: 2px 2px 5px #AAABA8;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.1s linear;
    overflow: hidden;

    &--add {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      span {
        font-size: 7rem;     
        line-height: 1;   
      }

      p {
        font-size: 2rem;
      }
    }
  }
}

.item {
  &__name {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  &__description {
    font-size: 1rem;
  }

  &__footer {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 20px;
    bottom: 30px;
    z-index: 1;
  }

  &__controls {
    display: flex;
    transition: all 0.1s linear;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: transparent;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: all 0.1s linear;

      img {
        width: 20px;
        height:20px;
      }

      &:hover {
        background-color: #E7EAEF;
      }
    }
  }

  &__date {
    font-size: 0.8rem;
    color: #217074;
  } 

  &__stats {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 2px solid #AAABA8;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  } 

  &__stat {
    padding: 3px 0;
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    text-align: center;

    &--green {
      color: #217074;
    }
    &--yellow {
      color: #EC9704;
    }
    &--red {
      color: #ED413E;
    }
  }
}

@media(max-width: 1199.98px) {
  .dashboard {
    &__block {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media(max-width: 991.98px) {
  .dashboard {
    &__block {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media(max-width: 767.98px) {
  .dashboard {
    &__block {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      height: 225px;
    }
  }

  .content {
    margin-bottom: 20px;
    flex-direction: column;

    &__title {
      padding-top: 10px;
      margin-bottom: 10px;
    }
  }
}

@media(max-width: 575.98px) {
  .dashboard {
    &__block {
      grid-template-columns: 1fr;
    }
  }

  .content {
    margin-bottom: 10px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    position: relative;

    &__burger {
      display: block;
    }
    &__controls {
      padding: 10px;
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 5;
      background-color: #217074;
      color: #fff;
      border-radius: 5px;
    }
    
    &__controls.show {
      display: block;
    }
  }
  .controls {
    &__form {
      flex-direction: column;
    }
  }
}