<app-content-header title="Dashboard"></app-content-header>
<div class="dashboard__block">
  <!-- ngFor temporary -->
  <div class="dashboard__item dashboard__item--add" appBoardHighlight>
    <span class="">+</span>
    <p>Add new</p>
  </div>
  <div
    class="dashboard__item hide-controls"
    *ngFor="let board of boards; let i = index"
    routerLink="{{ i }}"
    appBoardHighlight
  >
    <h4 class="item__name">Board name</h4>
    <p class="item__description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </p>
    <div class="item__footer">
      <span class="item__date">23.09.2022</span>
      <div class="item__controls">
        <button type="button">
          <img src="../../../../assets/images/edit.svg" alt="Edit" />
        </button>
        <button type="button">
          <img src="../../../../assets/images/delete.svg" alt="Delete" />
        </button>
      </div>
    </div>
  </div>
</div>
