<ng-container *ngIf="formsService.showAddBoardForm">
  <app-add-board-form></app-add-board-form>
</ng-container>
<div class="content">
  <h2 class="content__title">Dashboard</h2>
  <button class="content__burger" (click)="onToggleFilterFormShow()">
    Filter/Sort
  </button>
  <div class="content__controls" [ngClass]="showSmallForm ? 'show' : ''">
    <form class="controls__form" #controlsForm="ngForm">
      <fieldset class="controls__fieldset">
        <label for="filter">Filter</label>
        <input
          type="text"
          name="filter"
          [(ngModel)]="searchText"
          id="filter"
          placeholder="Search..."
        />
      </fieldset>
      <fieldset class="controls__fieldset">
        <label for="sort">Sort by</label>
        <select name="sort" id="sort" [(ngModel)]="sortValue">
          <optgroup label="Board">
            <option value="createdDate">Date</option>
            <option value="name">Name</option>
          </optgroup>
          <optgroup label="Task">
            <option value="todoCount">ToDo</option>
            <option value="progressCount">In Progress</option>
            <option value="doneCount">Done</option>
          </optgroup>
        </select>
      </fieldset>
      <fieldset class="controls__fieldset">
        <label for="order">Order by</label>
        <select name="order" id="order" [(ngModel)]="sortOrder">
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
      </fieldset>
    </form>
  </div>
</div>
<div class="dashboard__block">
  <div
    id="addBoardBtn"
    class="dashboard__item dashboard__item--add"
    appBoardHighlight
    (click)="onOpenAddBoardModal()"
  >
    <span class="">+</span>
    <p>Add new</p>
  </div>
  <div
    class="dashboard__item"
    *ngFor="
      let board of boards | filtering: searchText | sorting: sortValue:sortOrder
    "
    [routerLink]="board._id"
    appBoardHighlight
  >
    <h4 class="item__name">{{ board.name }}</h4>
    <p class="item__description">
      {{ board.description }}
    </p>
    <div class="item__footer">
      <span class="item__date">{{
        board.createdDate | date: "dd/MM/YYYY"
      }}</span>
      <div class="item__controls">
        <button type="button">
          <img
            src="assets/images/edit.svg"
            alt="Edit"
            (click)="onEditBoard(board); $event.stopPropagation()"
          />
        </button>
        <button type="button">
          <img
            src="assets/images/delete.svg"
            alt="Delete"
            (click)="onDeleteBoard(board._id); $event.stopPropagation()"
          />
        </button>
      </div>
    </div>
    <div class="item__stats">
      <div class="item__stat item__stat--green">{{ board.todoCount }}</div>
      <div class="item__stat item__stat--yellow">{{ board.progressCount }}</div>
      <div class="item__stat item__stat--red">{{ board.doneCount }}</div>
    </div>
  </div>
  <div class="spinner__container" *ngIf="userDataService.boardLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>
