<div class="background" clickOutside (clickOutside)="onCloseAddBoardModal()">
  <div class="wrapper">
    <form class="form" #addBoardForm="ngForm" (ngSubmit)="onSubmit(addBoardForm)">
      <input
        class="form__input"
        type="text"
        placeholder="Board Name"
        [ngModel]="editDefaultData.name"
        name="name"
        required
      />
      <textarea
        class="form__textarea"
        id="description"
        rows="5"
        placeholder="Description"
        [ngModel]="editDefaultData.description"
        name="description"
        [disabled]="editMode"
      ></textarea>
      <button type="submit" class="form__btn" [disabled]="addBoardForm.invalid">{{ editMode ? "Edit Board" : "Save Board" }}</button>
      <button
        type="button"
        class="form__close"
        (click)="onCloseAddBoardModal()"
      >
        X
      </button>
    </form>
  </div>
</div>
